@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 95%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 15px;
    /* height: 100%; */
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 100px auto;
}
.card{
    width: 330px;
    height: 500px;
    padding: 50px 40px;
}
.first{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: hsl(31, 77%, 52%);
}
.info h3{
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    font-size: 2.5em;
    padding: 30px 0;
    letter-spacing: 1px;
}
.info p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    width: 220px;
    height: 210px;
    letter-spacing: 1px;
    line-height: 1.7em;
}
.btn{
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 30px;
    background-color: white;
    letter-spacing: 1px;
    font-family: 'Lexend deca' , sans-serif ;
}
.btn:active{
    background-color: transparent;
    color: white;
    border: 2px solid white;
}
.second{
    background-color: hsl(184, 100%, 22%);
}
.second p{
    width: 240px;
}
.fist{
    color: hsl(31, 77%, 52%);
}
.secd{
    color: hsl(184, 100%, 22%);
}
.third{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.third p{
    width: 240px;
}
.trd{
    color: hsl(179, 100%, 13%);
}
@media (max-width:375px) {
    .first{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    .third{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}